openai
groq

python-dotenv

transformers
pipline
protobuf
accelerate
sentencepiece

torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121